<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solictudes</title>
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script>
        tinymce.init({
            selector: '#description',
            plugins: "textcolor, table lists code",
            toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
        });
    </script>
    <style>
        li {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="card">
            <div class="card-header">NUEVA SOLICITUD</div>
            <form th:object="${requestDto}" th:action="@{/president/save}" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label">Categoría</label>
                                <select class="form-control" th:field="*{category}" required>
                                    <option th:value="${tmp.id}" th:each="tmp : ${categoryList}" th:text="${tmp.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label">Evidencia</label>
                                <input type="file" class="form-control" accept="image/*, application/pdf"
                                    name="attachment" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label class="form-label">Descripción</label>
                                <textarea class="form-control form-control-lg" name="description" id="description" rows="10"
                                    th:field="*{description}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-3">
                                <ion-icon name="checkmark"></ion-icon>&nbsp;Guardar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </form>
        </div>
    </div>
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
    <!--Ionicons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script th:src="@{/js/toast.min.js}"></script>

    <script th:if="${msg_success != null}">
        new Toast({
            message: "[[${msg_success}]]",
            type: "success",
        });
    </script>
    <script th:if="${msg_error != null}">
        new Toast({
            message: "[[${msg_error}]]",
            type: "danger",
        });
    </script>
</body>

</html>