<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solictudes</title>
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <style>
        li {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="card">
            <div class="card-header">LISTADO DE SOLICITUDES</div>
            <div class="card-body">
                <div class="col d-flex justify-content-between bg-white border-bottom mb-2">
                    <h5 class="card-title">Solicitudes</h5>
                    <div class="text-end">
                        <a th:href="@{/president/create}" class="btn btn-primary mb-3">
                            <ion-icon name="pencil"></ion-icon>&nbsp;<span
                                class="d-sm-none d-md-none d-lg-inline d-xl-inline"> NUEVA SOLICITUD</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mx-auto table-responsive">
                        <table class="table table-hover table-collapse mt-3 mytable" id="states">
                            <thead>
                                <th scope="col">Categoria</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Status</th>
                                <th scope="col">Estado del pago</th>
                                <th scope="col">Cantidad de Pago</th>
                                <th scope="col">Acciones</th>
                            </thead>
                            <tbody>
                                <tr th:each="tmpRequest : ${requestList2}">
                                    <td th:text="${tmpRequest.category.name}"></td>
                                    <td>
                                        <p
                                            th:utext="${tmpRequest.description.length >  10 ? (tmpRequest.description.substring(0, 13) + '...') : tmpRequest.description}">
                                        </p>
                                    </td>
                                    <td th:text="${tmpRequest.startDate}"></td>
                                    <td th:switch="${tmpRequest.status}">
                                        <div th:case="'1'">
                                            <small class="text-muted"><span
                                                    class="badge badge-pill badge-danger">Cancelada</span></small>
                                        </div>
                                        <div th:case="'2'">
                                            <small class="text-muted"><span
                                                    class="badge badge-pill badge-success">Canalizada</span></small>
                                        </div>
                                        <div th:case="'3'">
                                            <small class="text-muted"><span
                                                    class="badge badge-pill badge-primary">Atendida</span></small>
                                        </div>
                                    </td>
                                    <td th:switch="${tmpRequest.paymentStatus}">
                                        <div th:case="'1'">
                                            <small class="text-muted"><span class="badge badge-pill badge-danger">Por
                                                    cobrar</span></small>
                                        </div>
                                        <div th:case="'2'">
                                            <small class="text-muted"><span class="badge badge-pill badge-primary">Pago
                                                    realizado</span></small>
                                        </div>
                                    </td>
                                    <td th:text="${tmpRequest.paymentAmount}"></td>
                                    <td>
                                        <div class="text-end">
                                            <a th:href="@{/president/details/{id} (id=${tmpRequest.id})}"
                                                class="btn btn-warning mb-3">
                                                <ion-icon name="book"></ion-icon>&nbsp;<span
                                                    class="d-sm-none d-md-none d-lg-inline d-xl-inline"> Detalles</span>
                                            </a>
                                            <a th:href="@{/president/commentary/{id} (id=${tmpRequest.id})}"
                                                class="btn btn-info mb-3">
                                                <ion-icon name="chatbubbles"></ion-icon>&nbsp;<span
                                                    class="d-sm-none d-md-none d-lg-inline d-xl-inline">
                                                    Comentarios</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav th:if="${requestList2.totalPages > 0}" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${requestList2.number == 0 ? 'disabled' : ''}">
                                    <a th:href="@{/president/list(page=${requestList2.number - 1})}" class="page-link">Anterior</a>
                                </li>

                                <li class="page-item" th:classappend="${i eq requestList2.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, requestList2.totalPages, 1)}">
                                    <a class="page-link" th:href="@{/president/list?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}"
                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${requestList2.number == (requestList2.totalPages - 1) ? 'disabled' : ''}">
                                    <a th:href="@{/president/list(page=${requestList2.number + 1})}" class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
    <!--Ionicons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script th:src="@{/js/toast.min.js}"></script>

    <script th:if="${msg_success != null}">
        new Toast({
            message: "[[${msg_success}]]",
            type: "success",
        });
    </script>
    <script th:if="${msg_error != null}">
        new Toast({
            message: "[[${msg_error}]]",
            type: "danger",
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>